<!DOCTYPE html>

<%- include('partials/header') %>
<link rel="stylesheet" href="css/HomePage.css">


  <title>MentorX</title>

</head>

<body>
  <!-- Menu / Nav Bar -->
  <%- include('partials/menubar') %>
  <!-- End of Menu / Nav Bar -->

  <!-- Start of middle section of page -->
  <div class="mainBody">
    <H1>Welcome to your Mentoring Dashboard</H1>
  	
  	<div id="iconMenu" class="iconMenu">
    		<div id="_mentoringImage">
  			<a href=""><i class="fas fa-user-friends"></i></a>
    		</div>
  		<div id="_goalsImage">
       		<a href=""><i class="fas fa-trophy"></i></a>
      	</div>
      	<div id="_calendarImage">
      		<a href=""><i class="fas fa-calendar-alt"></i></a>
      	</div>
      	<div id="_resourcesImage">
        		<a href=""><i class="fas fa-clipboard-list"></i></a>
    		</div>
  		

       	<div id="iconText" class="iconText">
          	<div id="_mentoringtextBox" class="_mentoringtextBox">
              	<a href="">MENTORING</a>
          	</div>
          	<div id="_goalstextBox" class="_goalstextBox">
              	<a href="">GOALS</a>
          	</div>
          	<div id="_calendartextBox" class="_calendartextBox">
              	<a href="">EVENTS</a>
          	</div>
          	<div id="_resourcestextBox" class="_resourcestextBox">
              	<a href="">RESOURCES</a>
          	</div>
      	</div>
      	<hr>
  	</div>
  </div>
  <!-- End of middle section -->

  <!-- Start of right column -->
  <div class="rightContainer">
    <h2>Upcoming Events</h2>
    <!-- Start of news feed section -->
    <%- include('partials/newsfeed') %>
    <!-- End of News Feed -->
  </div>
  <!-- End of Right Column -->

  <!-- Start of Left Column -->
  <div class="leftContainer">
    <div class="profileImage";>
      <div class="profileImageLink">
          <a href="/myprofile"><img src="<%=user.profilePicture%>"></i></a>   
          <!-- <a href="Profile.html"><i class="fas fa-user"></i></a>    -->
      </div>
    </div>
          <h2><%=user.fname%> <%=user.lname%></h2>
      <h3>Finance, Class of 2024</h3>
      <hr>
      <h2>Mentor Connections</h2>
      
      <div class="mentorConnection1">
        <div class="mentorImage1">
          <a href=""><i class="fas fa-user"></i></a>
        </div>
        <div class="mentorName1">
          Mentor Connection #1
        </div>
        <div class="mentorMajor1">
          Major, Grad Year
        </div>
      </div>

        <div class="mentorConnection2">
          <div class="mentorImage2">
            <a href=""><i class="fas fa-user"></i></a>
          </div>
          <div class="mentorName2">
            Mentor Connection #1
          </div>
          <div class="mentorMajor2">
            Major, Grad Year
          </div>
        </div>

        <div class="mentorConnection3">
          <div class="mentorImage3">
            <a href=""><i class="fas fa-user"></i></a>
          </div>
          <div class="mentorName3">
            Mentor Connection #1
          </div>
          <div class="mentorMajor3">
            Major, Grad Year
          </div>
        </div>

    </div>
  <!-- End of left column -->

</body>
</html>

