<!doctype html>
<html lang="en">

<%- include partials/header -%>
<%- include partials/navBar -%>

<body class="text-center">
<div class="bodyContent">
    <div class="mb-4" id="profile-photo">
        <div class="profileImageLink">
            <% if(user.profilePicture == null){ %>
                <i class="fas fa-user"></i>
            <% } else {  %>
                <img src="<%=user.profilePicture%>"></i>
            <% } %>
        </div>   
    </div>
    
    <h1  id="loginHeader" class="h3 mb-3 font-weight-normal"><%=user.fname%> <%=user.lname%></h1> 

    <div class="game-board">
            <div class="box1">
                <a href="/myprofile">
                    <i class="fas fa-user">
                        <h2>My Profile</h2>
                    </i>
                </a>
            </div>
            <div class="box2">
                <a href="">
                    <i class="fas fa-calendar">
                        <h2>Events</h2>
                    </i>
                </a>
            </div>
        
        <div class="box3">
            <a href="/enrollment">
                <i class="fas fa-users">
                    <h2>Enroll</h2>
                </i>
            </a>
        </div>

        <div class="box4">
            <a href="/mentoring">
                <i class="fas fa-users">
                    <h2>Mentoring</h2>
                </i>
            </a>
        </div>
    </div>
</div>
</body>
</div>

</html>

