<!doctype html>

<%- include partials/header -%>
<%- include partials/navBar -%>

<body class="text-center">
    <section>
    <h1><%= user.fname %> <%= user.email %></h1>
    <div class="container">
    	<div class="row">
    <% for(var i=0; i<mentor.length; i++) {%>
      <div class="col-md-4">
        <div class="card profile-card-3">
            <div class="background-block">
                <img src="" alt="" class="background"/>
            </div>
            <div class="profile-thumb-block">
              
              <div class="profile">
              <div class="mentorImage">
                <a href=""><i class="fas fa-user"></i></a>
              </div>
            </div>
              
            </div>
            <div class="card-content">
              <form action="/test" method="POST">
                
                  <input type="hidden" name="mentorID" value="<%= mentor[i]._id %>">

                  <h2><%= mentor[i].fname %> <%= mentor[i].lname %><small><%= mentor[i].email %></small></h2>
                  <p><button class="connectBtn" type="submit">Connect</button></p>
              </form>
                </div>
            </div>
          </div>
    <% } %>

      </div>
    </div>
  </section>
</body>


</html>
